extends layout
include fields.pug
block content
	h1 Авторизация
	form( action='/signin' method='post' )
		+field( $user, 'login', 'Логин', 'text', 'w-50' )
		+field( $user, 'password', 'Пароль', 'password', 'w-50' )
		button.btn.btn-primary(type='submit') Войти