extends layout
include fields.pug
block content
	h1 Задача
	- $action = property_exists( $task, 'id' ) ? "/tasks/$task->id/edit" : '/new_task'
	form( action=$action method='post' )
		if property_exists( $task, 'id' )
			input(type='hidden', name='id', value=$task->id)
		if ! property_exists( $task, 'id' )
			+field( $task, 'username', 'Имя пользователя', 'text', 'w-80' )
			+field( $task, 'email', 'E-mail', 'email', 'w-80' )
		+field( $task, 'content', 'Текст', 'textarea', 'w-80' )
		if $admin
			.form-group.form-check
				if $task->done
					input#doneInput.form-check-input(type='checkbox', name='done', checked='checked')
				else
					input#doneInput.form-check-input(type='checkbox', name='done')
				label.form-check-label(for='doneInput') Выполнено
		button.btn.btn-primary(type='submit')
			if property_exists( $task, 'id' )
				| Изменить
			else
				| Создать